@import url("https://fonts.googleapis.com/css?family=Raleway|Sansita");
/* --------------------------------

xBackground

-------------------------------- */
/* line 29, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
body {
  /* this is the page background */
  background-color: #fcf9f7; }

/* --------------------------------

xPatterns

-------------------------------- */
/* line 40, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border: 1px solid #7a8694;
  border-radius: 3px;
  background: #fcf9f7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 6px; }

/* --------------------------------

xNavigation

-------------------------------- */
/* line 54, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
#navigation h3 {
  padding: 5px;
  padding-top: 10px; }

/* line 59, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
.cd-primary-nav ul, .cd-secondary-nav ul {
  float: center;
  display: inline; }
  /* line 63, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .cd-primary-nav ul li :hover, .cd-secondary-nav ul li :hover {
    color: #242e47; }
  /* line 66, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .cd-primary-nav ul li a, .cd-secondary-nav ul li a {
    color: #880201;
    font-family: "Sansita", sans-serif;
    text-decoration: underline; }

/* line 75, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
header {
  background-color: #242e47; }

/* line 79, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
.cd-logo {
  /* logo box style */
  background-color: #880201;
  width: 120px; }
  @media only screen and (min-width: 1024px) {
    /* line 79, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
    .cd-logo {
      width: 180px; } }

/* line 89, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
.cd-main-nav {
  /* main navigation background color - full screen on small devices */
  background: #242e47; }
  /* line 93, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .cd-main-nav li a {
    color: #fcf9f7;
    border-color: #2d3958; }
  @media only screen and (min-width: 1024px) {
    /* line 99, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
    .cd-main-nav li a {
      color: #7b8ebc; }
      /* line 102, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
      .cd-main-nav li a.selected {
        color: #fcf9f7;
        box-shadow: 0 2px 0 #880201; }
      /* line 107, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
      .no-touch .cd-main-nav li a:hover {
        color: #fcf9f7; } }

/* line 114, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
.cd-nav-trigger span {
  /* hamburger menu */
  background-color: #fcf9f7; }
  /* line 118, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* upper and lower lines */
    background-color: #fcf9f7; }

/* line 125, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
.nav-is-visible .cd-nav-trigger span {
  /* hide line in the center on mobile when nav is visible */
  background-color: rgba(252, 249, 247, 0); }
  /* line 129, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .nav-is-visible .cd-nav-trigger span::before, .nav-is-visible .cd-nav-trigger span::after {
    /* preserve visibility of upper and lower lines - close icon */
    background-color: #fcf9f7; }

/* line 135, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
.cd-download {
  /* download button top-right visible on big devices */
  background-color: #354469; }
  /* line 139, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .no-touch .cd-download:hover {
    background-color: #3e4f7a; }
  /* line 143, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .cd-download span {
    /* tooltip */
    background: #880201;
    color: #fcf9f7; }
    /* line 148, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
    .cd-download span::before {
      /* right arrow color */
      border-color: #880201; }

/* --------------------------------

xPage title

-------------------------------- */
/* line 161, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
main > h1 {
  color: #242e47; }
  @media only screen and (min-width: 1600px) {
    /* line 161, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
    main > h1 {
      /* title goes into the header on big devices */
      color: #fcf9f7; } }

/* --------------------------------

xTypography

-------------------------------- */
/* line 176, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
h1, h2 {
  font-family: "Sansita", sans-serif;
  color: #242e47; }

/* line 181, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em; }
  @media only screen and (min-width: 768px) {
    /* line 181, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
    h1 {
      font-size: 3.2rem; } }
  @media only screen and (min-width: 1024px) {
    /* line 181, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
    h1 {
      font-size: 4rem; } }

/* line 196, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0; }
  @media only screen and (min-width: 768px) {
    /* line 196, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
    h2 {
      font-size: 1.8rem;
      margin: 1em 0 1.4em; } }

/* line 207, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
section > h2::before {
  /* number before each section title */
  color: #56606b; }

/* line 212, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #4f659c; }
  /* line 217, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  p a {
    color: #880201;
    text-decoration: underline; }
  @media only screen and (min-width: 768px) {
    /* line 212, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
    p {
      font-size: 1.6rem;
      line-height: 1.6; } }

/* --------------------------------

xButtons

-------------------------------- */
/* line 234, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
.btn {
  border: none;
  box-shadow: none;
  border-radius: .25em;
  font-size: 1.4rem;
  font-family: "Sansita", sans-serif;
  color: #fcf9f7;
  padding: .6em 2.2em;
  cursor: pointer;
  background: #880201; }
  /* line 247, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .btn:focus {
    outline: none; }
  /* line 251, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .no-touch .btn:hover {
    background: #a10201; }
  /* line 255, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .btn.btn-success {
    background: #6fce72; }
    /* line 258, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
    .no-touch .btn.btn-success:hover {
      background: #82d485; }
  /* line 263, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .btn.btn-alert {
    background: #45352e; }
    /* line 266, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
    .no-touch .btn.btn-alert:hover {
      background: #544138; }
  /* line 271, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .btn.btn-outline {
    color: #880201;
    background: transparent;
    box-shadow: inset 0 0 0 1px #880201; }
    /* line 276, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
    .no-touch .btn.btn-outline:hover {
      color: #fcf9f7;
      background: #880201; }
  @media only screen and (min-width: 768px) {
    /* line 234, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
    .btn {
      font-size: 1.6rem; } }

/* line 287, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
.cd-buttons .cd-box:nth-of-type(2) span {
  /* CSS class name color */
  color: #880201; }

/* --------------------------------

xIcons

-------------------------------- */
/* line 298, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
.cd-icons li {
  /* icons size */
  width: 32px;
  height: 32px; }

/* --------------------------------

xForm

-------------------------------- */
/* line 310, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
input[type=text], select {
  border: 1px solid #7a8694;
  border-radius: .25em;
  background: #fcf9f7; }
  /* line 315, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  input[type=text]:focus, select:focus {
    outline: none; }

/* line 320, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
input[type=text] {
  padding: .6em 1em;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03); }
  /* line 324, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  input[type=text].success {
    border-color: #6fce72;
    box-shadow: 0 0 6px rgba(111, 206, 114, 0.2); }
  /* line 329, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  input[type=text].alert {
    border-color: #45352e;
    box-shadow: 0 0 6px rgba(69, 53, 46, 0.2); }
  /* line 334, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  input[type=text]:focus {
    border-color: #880201;
    box-shadow: 0 0 6px rgba(136, 2, 1, 0.2); }

/* line 340, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
input[type=radio],
input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0; }

/* line 350, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
.radio-label,
.checkbox-label {
  padding-left: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  /* line 355, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .radio-label::before, .radio-label::after,
  .checkbox-label::before,
  .checkbox-label::after {
    /* custom radio and check boxes */
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  /* line 367, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .radio-label::before,
  .checkbox-label::before {
    left: 0;
    border: 1px solid #7a8694;
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03); }
  /* line 373, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
  .radio-label::after,
  .checkbox-label::after {
    left: 3px;
    background: url("../assets/form/icon-check.svg") no-repeat center center;
    display: none; }

/* line 380, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
.radio-label::before {
  border-radius: 50%; }

/* line 384, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
.checkbox-label::before {
  border-radius: 3px; }

/* line 388, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
input[type=radio]:checked + label::before,
input[type=checkbox]:checked + label::before {
  background-color: #242e47;
  border: none;
  box-shadow: none; }

/* line 395, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
input[type=radio]:checked + label::after,
input[type=checkbox]:checked + label::after {
  display: block; }

/* line 400, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
.cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../assets/form/icon-select.svg") no-repeat center center;
  pointer-events: none; }

/* line 415, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/style-guide.scss */
select {
  position: relative;
  padding: .6em 2em .6em 1em;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* -------------------------------- 

xBasic style

-------------------------------- */
/* line 7, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 11, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 16, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
html {
  font-size: 62.5%; }

/* line 20, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif; }

/* line 25, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
a {
  text-decoration: none; }

/* line 29, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
img {
  max-width: 100%; }

/* line 33, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
input, textarea, select {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem; }

/* line 38, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10; }
  /* line 47, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  header nav {
    display: inline-block; }
  @media only screen and (min-width: 1024px) {
    /* line 38, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    header {
      height: 80px; }
      /* line 8, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_prefix-mixins.scss */
      header::after {
        clear: both;
        content: "";
        display: block; } }

/* line 57, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-logo {
  display: inline-block;
  height: 100%;
  position: relative; }
  /* line 62, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-logo img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  @media only screen and (min-width: 1600px) {
    /* line 57, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-logo {
      margin-left: 5%; } }

/* line 75, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-nav-trigger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  color: transparent; }
  /* line 86, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-nav-trigger span {
    position: absolute;
    height: 2px;
    width: 20px;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    -webkit-transition: background-color 0.3s 0.3s;
    -moz-transition: background-color 0.3s 0.3s;
    transition: background-color 0.3s 0.3s; }
    /* line 96, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-nav-trigger span::before, .cd-nav-trigger span::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      will-change: transform;
      -webkit-transition: transform 0.3s 0.3s;
      -moz-transition: transform 0.3s 0.3s;
      transition: transform 0.3s 0.3s; }
    /* line 109, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-nav-trigger span::before {
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      transform: translateY(-6px); }
    /* line 113, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-nav-trigger span::after {
      -webkit-transform: translateY(6px);
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -o-transform: translateY(6px);
      transform: translateY(6px); }
  @media only screen and (min-width: 1024px) {
    /* line 75, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-nav-trigger {
      display: none; } }

/* line 123, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  text-align: center;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  transition: transform 0.3s; }
  /* line 134, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-main-nav li a {
    display: block;
    font-size: 1.8rem;
    padding: 1em 0;
    border-bottom-width: 1px;
    border-style: solid; }
  /* line 142, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-main-nav li:first-of-type a {
    border-top-width: 1px; }
  @media only screen and (min-width: 1024px) {
    /* line 123, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-main-nav {
      position: static;
      display: table;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      width: auto;
      height: 80px;
      background: transparent;
      padding: 0 2em;
      text-align: left; }
      /* line 156, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
      .cd-main-nav li {
        display: table-cell;
        vertical-align: middle;
        padding: 0 1em; }
      /* line 162, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
      .cd-main-nav li a {
        display: inline-block;
        font-size: 1.6rem;
        padding: .4em .2em;
        border-bottom: none;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s; }
      /* line 170, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
      .cd-main-nav li:first-of-type a {
        border-top: none; } }
  @media only screen and (min-width: 1600px) {
    /* line 123, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-main-nav {
      display: none; } }

/* line 183, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg); }

/* line 187, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg); }

/* line 192, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.nav-is-visible .cd-main-nav {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

/* line 197, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-download {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px;
  background-image: url("../assets/icon-download.svg");
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  /* line 209, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-download span {
    /* tooltip */
    position: absolute;
    right: 120%;
    top: 50%;
    margin-top: -20px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    text-align: center;
    font-size: 1.2rem;
    -webkit-transition: opacity .2s 0s, visibility 0s .2s;
    -moz-transition: opacity .2s 0s, visibility 0s .2s;
    transition: opacity .2s 0s, visibility 0s .2s; }
    /* line 225, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-download span::before {
      /* right arrow */
      content: '';
      position: absolute;
      top: 12px;
      left: 100%;
      height: 0;
      width: 0;
      border-width: 8px;
      border-style: solid;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent; }
  /* line 241, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .no-touch .cd-download:hover span {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .2s 0s, visibility 0s 0s;
    -moz-transition: opacity .2s 0s, visibility 0s 0s;
    transition: opacity .2s 0s, visibility 0s 0s; }
  @media only screen and (min-width: 1024px) {
    /* line 197, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-download {
      display: block; }
      /* line 252, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
      .cd-download span {
        opacity: 0;
        visibility: hidden; } }
  @media only screen and (min-width: 1600px) {
    /* line 197, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-download {
      right: 5%; } }

/* line 263, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
main {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0; }
  /* line 269, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  main > h1 {
    text-align: center;
    margin: 3em 0; }
  @media only screen and (min-width: 1024px) {
    /* line 263, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    main {
      padding-top: 80px; } }
  @media only screen and (min-width: 1600px) {
    /* line 263, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    main {
      max-width: none;
      padding: 120px 0 50px; }
      /* line 282, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
      main > h1 {
        position: fixed;
        top: 0;
        left: 50%;
        height: 80px;
        line-height: 80px;
        width: 400px;
        margin: 0 0 0 -200px;
        font-size: 2.6rem;
        z-index: 20; } }

/* line 296, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
section {
  margin: 3em 0; }
  /* line 8, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_prefix-mixins.scss */
  section::after {
    clear: both;
    content: "";
    display: block; }
  /* line 300, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  section:nth-of-type(1) h2::before {
    content: '1. '; }
  /* line 304, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  section:nth-of-type(2) h2::before {
    content: '2. '; }
  /* line 308, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  section:nth-of-type(3) h2::before {
    content: '3. '; }
  /* line 312, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  section:nth-of-type(4) h2::before {
    content: '4. '; }
  /* line 316, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  section:nth-of-type(5) h2::before {
    content: '5. '; }
  /* line 320, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  section:nth-of-type(6) h2::before {
    content: '6. '; }
  /* line 324, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  section:nth-of-type(7) h2::before {
    content: '7. '; }
  /* line 327, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  section:nth-of-type(8) h2::before {
    content: '8. '; }
  /* line 330, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  section:nth-of-type(9) h2::before {
    content: '9. '; }
  /* line 333, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  section:nth-of-type(10) h2::before {
    content: '10. '; }
  @media only screen and (min-width: 768px) {
    /* line 296, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    section {
      margin: 3em 0 5em; } }
  @media only screen and (min-width: 1600px) {
    /* line 296, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    section {
      width: 48%;
      float: left;
      margin: 0 4% 4em 0; }
      /* line 345, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
      section:nth-of-type(2n) {
        margin-right: 0; } }

/* xBranding section - basic style */
/* line 355, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-branding .cd-box {
  margin-bottom: 1em; }

/* line 359, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-branding img {
  display: block;
  width: 100%; }

/* line 364, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-branding ul:last-of-type {
  padding-top: .6em; }
  /* line 367, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-branding ul:last-of-type li {
    display: inline-block;
    margin-right: 1em; }
  /* line 372, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-branding ul:last-of-type li:nth-of-type(1) img {
    width: 90px;
    height: 90px;
    border-radius: 1em; }
  /* line 378, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-branding ul:last-of-type li:nth-of-type(2) img {
    width: 60px;
    height: 60px;
    border-radius: .6em; }
  /* line 384, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-branding ul:last-of-type li:nth-of-type(3) img {
    width: 32px;
    height: 32px;
    border-radius: .4em; }
  /* line 390, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-branding ul:last-of-type li:nth-of-type(4) img {
    width: 16px;
    height: 16px;
    border-radius: .2em; }

@media only screen and (min-width: 768px) {
  /* line 398, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-branding .cd-box {
    width: 49%;
    float: left;
    margin: 0 2% 2em 0; }
    /* line 402, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-branding .cd-box:nth-of-type(2n) {
      margin-right: 0; }
  /* line 407, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-branding ul:last-of-type {
    clear: left; }
    /* line 410, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-branding ul:last-of-type li {
      margin-right: 3em; } }

/* xColor section - basic style */
/* line 421, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-colors li {
  text-align: center;
  width: 48%;
  float: left;
  margin: 0 4% 1em 0; }
  /* line 426, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors li:nth-of-type(2n) {
    margin-right: 0; }

/* line 431, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-colors .cd-color-swatch {
  position: relative;
  width: 100%;
  padding: 50% 0; }
  /* line 436, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors .cd-color-swatch::before, .cd-colors .cd-color-swatch::after {
    /* lighter and darker color shades of the same swatch */
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 20%; }
  /* line 445, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors .cd-color-swatch::before {
    left: 0; }
  /* line 449, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors .cd-color-swatch::after {
    right: 0; }

/* line 454, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-colors b {
  display: block;
  padding: .6em 0; }

/* line 459, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-colors li:nth-of-type(1) .cd-color-swatch {
  background: #880201; }
  /* line 462, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors li:nth-of-type(1) .cd-color-swatch::before {
    background: #a10201; }
  /* line 466, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors li:nth-of-type(1) .cd-color-swatch::after {
    background: #6f0201; }

/* line 471, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-colors li:nth-of-type(2) .cd-color-swatch {
  background: #242e47; }
  /* line 474, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors li:nth-of-type(2) .cd-color-swatch::before {
    background: #2d3958; }
  /* line 478, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors li:nth-of-type(2) .cd-color-swatch::after {
    background: #1b2336; }

/* line 483, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-colors li:nth-of-type(3) .cd-color-swatch {
  background: #45352e; }
  /* line 486, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors li:nth-of-type(3) .cd-color-swatch::before {
    background: #544138; }
  /* line 490, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors li:nth-of-type(3) .cd-color-swatch::after {
    background: #362924; }

/* line 495, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-colors li:nth-of-type(4) .cd-color-swatch {
  background: #7a8694; }
  /* line 498, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors li:nth-of-type(4) .cd-color-swatch::before {
    background: #88939f; }
  /* line 502, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors li:nth-of-type(4) .cd-color-swatch::after {
    background: #6d7987; }

/* line 507, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-colors li:nth-of-type(5) .cd-color-swatch {
  background: #fcf9f7; }
  /* line 510, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors li:nth-of-type(5) .cd-color-swatch::before {
    background: white; }
  /* line 514, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors li:nth-of-type(5) .cd-color-swatch::after {
    background: #f5ebe4; }

@media only screen and (min-width: 768px) {
  /* line 520, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-colors li {
    width: 19%;
    float: left;
    margin: 0 1.25% 1em 0; }
    /* line 524, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-colors li:nth-of-type(2n) {
      margin-right: 1.25%; }
    /* line 528, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-colors li:nth-of-type(5n) {
      margin-right: 0; } }

/* line 535, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-typography .cd-box,
.cd-buttons .cd-box,
.cd-icons .cd-box,
.cd-form .cd-box {
  padding: 1em; }
  @media only screen and (min-width: 768px) {
    /* line 542, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
    .cd-typography .cd-box .cd-box,
    .cd-buttons .cd-box .cd-box,
    .cd-icons .cd-box .cd-box,
    .cd-form .cd-box .cd-box {
      padding: 2em; } }

/* xTypography section - basic style */
/* line 552, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-typography h1::before {
  content: 'Aa - ';
  color: #880201; }

/* line 559, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-buttons .cd-box:first-of-type {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

/* line 564, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-buttons .cd-box:last-of-type {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

/* line 570, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-buttons button {
  margin: .4em; }

@media only screen and (min-width: 1024px) {
  /* line 575, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-buttons button {
    margin: 1em; } }

/* xIcons section - basic style */
/* line 584, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-icons li {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 1em; }

/* line 591, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-icons .cd-icon-1 {
  background-image: url("../assets/icons/icon-1.svg"); }

/* line 595, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-icons .cd-icon-2 {
  background-image: url("../assets/icons/icon-2.svg"); }

/* line 599, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-icons .cd-icon-3 {
  background-image: url("../assets/icons/icon-3.svg"); }

/* line 603, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-icons .cd-icon-4 {
  background-image: url("../assets/icons/icon-4.svg"); }

/* line 607, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-icons .cd-icon-5 {
  background-image: url("../assets/icons/icon-5.svg"); }

/* line 611, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-icons .cd-icon-6 {
  background-image: url("../assets/icons/icon-6.svg"); }

/* line 615, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-icons .cd-icon-7 {
  background-image: url("../assets/icons/icon-7.svg"); }

/* line 619, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-icons .cd-icon-8 {
  background-image: url("../assets/icons/icon-8.svg"); }

/* xForm section - basic style */
/* line 627, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-form input[type=text],
.cd-form .cd-input-wrapper {
  margin: 1em; }

/* line 632, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-form .cd-input-wrapper {
  position: relative;
  display: inline-block; }

/* line 637, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.cd-form select::-ms-expand {
  display: none; }

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox */
  /* line 644, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
  .cd-select::after {
    display: none; } }

/* line 649, C:/Users/sethc/Documents/CIT 301-B/csszengarden/zen-garden-style/scss/partials/_basic-style.scss */
.no-csstransitions .cd-select::after {
  display: none; }

/*# sourceMappingURL=style-guide.css.map */