
$color-1: #880201; // red
$color-2: #242e47; // dark blue
$color-3: #45352e; // dark brown
$color-4: #7a8694; // light gray
$color-5: #fcf9f7; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red

// fonts

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Sansita', sans-serif;
